.container {
  
    width: 450px;
    height: 300px;
    background: -webkit-linear-gradient(90deg, #12d030,#00d3c7,#54c4f0);
    margin: 20px auto;
    border-radius: 30px;
    color: white;
    font-weight: 600;
}
.container-header {
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
    color: white;
    font-weight: 700;
}
.input-stelistic {
   border-radius: 30px 1px;
   margin-right: 10px;
   padding: 6px;
}
.inputSummCredit {
    margin-bottom: 10px;
}
.inputTimeCredit {
    margin-bottom: 10px;
}
.inputInterest {
    margin-bottom: 30px;
}

.container__button {
    display: block;
    border: 1px solid black;
    border-radius: 30px;
    margin: 0 auto;
    width: 140px;
    cursor: pointer;
    margin-bottom: 20px;
   height: 30px;
}
.container__button:active {
    background-color: #54c4f0;
}
.lastSpan {
    font-size: 18px;
    font-weight: 600;
    color: white;
}